<% this.title = '帮助' %>
<% include header %>
<div class="padding">
  <h1 class="ui center aligned header">帮助</h1>
  <div style="font-content">
    <h2 class="ui header">评测</h2>
    <p>
      C++ 使用 <code>clang++</code> 或 <code>g++</code> 编译，命令形如 &nbsp;<code>clang++/g++ source_file.cpp -o exec_file -O2 -lm -DONLINE_JUDGE -mx32 -std=c++03</code>（对于 C++ 11 、C++14 和 C++ 17，替换命令中的 <code>-std=</code> 参数）；<br>
      C 使用 <code>clang</code> 编译，命令为 &nbsp;<code>clang source_file.c -o exec_file -O2 -lm -DONLINE_JUDGE -mx32</code>；<br>
      Pascal 使用 <code>fpc</code> 编译，命令为 &nbsp;<code>fpc source_file.pas -O2</code>。<br>
      Java 编译时会自动检测您的代码中 <code>public class</code>，如果您的代码中没有 <code>public class</code>，请将入口类命名为 <code>Main</code>。<br>
      C# 使用 Mono 平台的编译器与运行环境。<br>
      Python 使用 Python 原生的解释器。 <br>
    </p>
    <p>请根据题目中的说明选择使用<strong>标准输入输出</strong>或<strong>文件输入输出</strong>。</p>

    <h2 class="ui header">个人资料</h2>
    <p>个性签名可以使用 Markdown 与 HTML，请不要在其中添加恶意代码。<br></p>

    <h2 class="ui header">联系我们</h2>
    <p>加入 QQ 群: <%= syzoj.config.QQGroupNumber %> ，联系管理员即可。<br></p>

    <p>祝各位在 IEEE OJ 玩得愉快！（求不虐萌萌哒服务器～求不虐萌萌哒测评机～！）</p>
  </div>
</div>

<% include footer %>
